body {
	background: #faf8ef;
	font-family: Arial, sans-serif;
	font-style: bold;
}

#title {
	margin: 20px 100px;
	font-size: 36px;
	color: #776e65;
}

#username {
	margin: 0px 20px;
	text-align: center;
}

#user {
	margin: 0px auto;
	width: 300px;
}

div.gameboard {
	position: absolute;
	right: 0;
    left: 0;
    top: 220px;
	margin-top: 10px;
	margin-bottom: 10px;
    margin-right: auto;
    margin-left: auto;
	padding: 5px;
	height: 600px;
}

#hintbox{
	display:none;
	position:absolute;
	border:1px solid #333;
	background-color:#161616;
	border-radius:10px;
	padding:15px;
	color:#fff;
	font-size:12px Arial;
}

#rooms {
	position: relative;
	margin: 50px 150px;
	width: 60%;
	z-index: 10;
	display: none;
}

#description {
	margin: 10px 100px;
	margin-bottom: -20px;
	height: 30px;
	color: #776e65;
	font-size: 24px;
	font-style: italic;
	text-align: left;
}

#actions {
	position: relative;
	margin: 30px 50px;
	line-height: 30px;
	text-align: center;
	z-index: 5;
}

button.btn.btn-success.action {
	width: 150px;
}

div.observer {
	position: relative;
	margin-bottom: -30px;
	left: -80px;
	width: 30px;
	height: 30px;
	background-image: url('img/observer.png');
	background-size: 30px 30px;
	background-repeat: no-repeat;
	display: none;
}

div.player {
	margin: 10px;
	padding: 5px;
	width: 220px;
	font-size: 20px;
	border: 0px solid #4eb14d;
	background: #bbada0;
	background-size: 30px 30px;
	background-repeat: no-repeat;
	background-position: 10% 7%;
	border-radius: 5px;
	display: none;
}

div.token {
	position: relative;
	left: 0px;
	right: 20px;
	margin: 10px;
	width: 60px;
	height: 30px;
	text-align: right;
	background-size: 30px 30px;
	background-repeat: no-repeat;
	display: inline-block;
}

#accToken1 {
	background-image: url('img/token_blue.png');
}

#accToken2 {
	background-image: url('img/token_green.png');
}

#accToken3 {
	background-image: url('img/token_red.png');
}

#accToken4 {
	background-image: url('img/token_yellow.png');
}

div.token.black {
	background-image: url('img/token_black.png');
}

div.tokenTop {
	position:relative;
	margin-left: 8px;
	width: 30px;
	height: 30px;
	background-size: 30px 30px;
	background-repeat: no-repeat;
	display: inline-block;
	visibility: hidden;
}

div.tokenTop.unseen {
	left: 122.5px;
	background-image: url('img/token_unseen.png');
}

div.tokenTop.swap {
	left: 92.5px;
	background-image: url('img/token_swap.png');
}

#tokenBottom {
	margin-left: 100px;
}

div.tokenBottom {
	position:relative;
	margin-left: 3px;
	width: 30px;
	height: 30px;
	background-size: 30px 30px;
	background-repeat: no-repeat;
	display: inline-block;
}

div.tokenBottom.t1 {
	left: 125px;
	margin-left: -60px;
}

div.tokenBottom.t2 {
	left: 95px;
	top: 5px;
}

div.tokenBottom.t3 {
	left: 65px;
	top: 10px;
}

div.tokenBottom.t4 {
	left: 35px;
	top: 15px;
}

div.alibi {
	position: relative;
	margin: 20px 70px;
	padding-top: 25px;
	width: 100px;
	height: 100px;
	text-align: center;
	color: #ffffff;
	font-size: 24px;
	font-style: bold;
	background-image: url('img/suspect.png');
	background-size: 100px 100px;
	background-repeat: no-repeat;
	display: none;
}

div.well {
	position: absolute;
}

#mentalstate {
    margin-left: 26px;
}

div.victim {
	position: relative;
	top: 30px;
	margin: 10px 60px;
	padding-top: 25px;
	width: 100px;
	height: 100px;
	color: #ffffff;
	font-size: 24px;
	font-style: bold;
	background-image: url('img/suspect.png');
	background-size: 100px 100px;
	background-repeat: no-repeat;
	display: none;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

div.suspect {
	position: relative;
	margin: 10px -10px;
	padding-top: 25px;
	width: 100px;
	height: 100px;
	color: #ffffff;
	font-size: 24px;
	font-style: bold;
	background-image: url('img/suspect.png');
	background-size: 100px 100px;
	background-repeat: no-repeat;
	display: none;
}

button.btn.btn-success.choose-suspect, button.btn.btn-primary.choose-suspect {
	position: relative;
	margin: 20px 0px;
	left: 110px;
	display: none;
}
