{% extends "bootstrap/base.html" %}

{% block title %}Hattari Project{% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" >
{% endblock %}

{% block navbar %}
<div class="navbar navbar-default" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="{{ url_for('index') }}">Hattari</a>
		</div>
		<div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
            	<li><a href="{{ url_for('rule') }}">Rules</a></li>
            	<li><a href="{{ url_for('game') }}">Local Game</a></li>
            	<li><a href="{{ url_for('multigame') }}">Online Game</a></li>
            	<li><a href="{{ url_for('demo') }}">Site Demo</a></li>
            </ul>
        </div>
	</div>
</div>
{% endblock %}

{% block content %}
<div class="container">
	{% block page_content %}{% endblock %}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
{% endblock %}
