{% extends "base.html" %}

{% block styles %}
{{ super() }}
<style>
body {
	background: #faf8ef;
	color: #776e65;
	font-family: Arial, sans-serif;
	font-style: bold;
}

#page_content {
	margin-left: 100px;
}
</style>
{% endblock %}

{% block page_content %}
<div id="page_content">
	<H1>Welcome to Hattari</H1>
</div>
{% endblock %}