{% extends "base.html" %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='game.css') }}">

{% endblock %}

{% block page_content %}
<H2 id="title" >Hattari</H2>
<div id="description"></div>

<div class="row" id="username" style="display:none;">
 	<label for="ex1">Type in your username</label>
	<input class="form-control" id="user" type="text" placeholder="Username" aria-describedby="basic-addon1">
</div>


<div class="row" id="actions">
	<button type="button" class="btn btn-success action" id="start">Start New Game</button>
	<button type="button" class="btn btn-success action" id="joinroom">Join Game</button>
	<button type="button" style="display:none;" class="btn btn-success action" id="joinNewRoom">Join New Game</button>
	<button type="button" style="display:none;" class="btn btn-success action" id="startNew">Start New Game</button>
	<button type="button" style="display:none;" class="btn btn-success action" id="start2">Start New Game</button>
	<button type="button" style="display:none;" class="btn btn-success action" id="joinroom2">Join Game</button>
	<button type="button" style="display:none;" class="btn btn-success action" id="nextStartGame">Next</button>
	<button type="button" style="display:none;" class="btn btn-success action" id="nextJoinRoom">Next</button>
	<button type="button" style="display:none;" class="btn btn-success action" id="checkAlibi">Check Alibi</button>	
	<button type="button" style="display:none;" class="btn btn-success action" id="nextAlibi">Next</button>
	<button type="button" style="display:none;" class="btn btn-success action" id="rotateAlibis">Rotate Alibis</button>
	<button type="button" style="display:none;" class="btn btn-success action" id="chooseSuspects">Choose Suspects</button>
	<button type="button" style="display:none;" class="btn btn-success action" id="checkSuspects">Check Suspects</button>
	<button type="button" style="display:none;" class="btn btn-success action" id="next">Next</button>
	<button type="button" style="display:none;" class="btn btn-success action" id="placeToken">Place Token</button>
	<button type="button" style="display:none;" class="btn btn-success action" id="swapSuspect">Swap Suspect</button>
	<button type="button" style="display:none;" class="btn btn-success action" id="showResult">Show Result</button>
	<button type="button" style="display:none;" class="btn btn-success action" id="returnTokens">Return Tokens</button>
	<button type="button" style="display:none;" class="btn btn-success action" id="nextRound">Next Round</button>
	<button type="button" style="display:none;" class="btn btn-success action" id="2">2 Players</button>
	<button type="button" style="display:none;" class="btn btn-success action" id="3">3 Players</button>
	<button type="button" style="display:none;" class="btn btn-success action" id="4">4 Players</button>
	<button type="button" style="display:none;" class="btn btn-success action" id="yes">Yes</button>
	<button type="button" style="display:none;" class="btn btn-success action" id="no">No</button>
</div>

<div id="hintbox"></div>


<div class="gameboard">
<div class="row" align="center" id="players">
	<div class="player" id="player1">
		<div class="observer" id="observer1"></div>
		<p class="player" id="username1">Player 1</p>
		<div class="token acc" id="accToken1"></div>
		<div class="token black" id="blackToken1"></div>
	</div>
	<div class="player" id="player2">
		<div class="observer" id="observer2"></div>
		<p class="player" id="username2">Player 2</p>
		<div class="token acc" id="accToken2"></div>
		<div class="token black" id="blackToken2"></div>
	</div>
	<div class="player" id="player3">
		<div class="observer" id="observer3"></div>
		<p class="player" id="username3">Player 3</p>
		<div class="token acc" id="accToken3"></div>
		<div class="token black" id="blackToken3"></div>
	</div>
	<div class="player" id="player4">
		<div class="observer" id="observer4"></div>
		<p class="player" id="username4">Player 4</p>
		<div class="token acc" id="accToken4"></div>
		<div class="token black" id="blackToken4"></div>
	</div>
</div>
<div class="row" align="center" id="alibis">
	<div class="alibi" id="alibi1"></div>
	<div class="alibi" id="alibi2"></div>
	<div class="alibi" id="alibi3"></div>
	<div class="alibi" id="alibi4"></div>
</div>
<div class="row" align="center" id="tokenTop">
	<div class="tokenTop unseen" id="unseen1"></div>
	<div class="tokenTop swap" id="swap1"></div>
	<div class="tokenTop unseen" id="unseen2"></div>
	<div class="tokenTop swap" id="swap2"></div>
	<div class="tokenTop unseen" id="unseen3"></div>
	<div class="tokenTop swap" id="swap3"></div>
</div>
<div class="row" align="center" id="suspects">
	<div class="victim" id="victim">
	</div>
	<div class="suspect" id="suspect1">
	</div>
	<div class="suspect" id="suspect2">
	</div>
	<div class="suspect" id="suspect3">
	</div>
</div>
<div class="row" align="center" id="tokenBottom">
	<div class="tokenBottom t1" id="tb11"></div>
	<div class="tokenBottom t2" id="tb21"></div>
	<div class="tokenBottom t3" id="tb31"></div>
	<div class="tokenBottom t4" id="tb41"></div>
	<div class="tokenBottom t1" id="tb12"></div>
	<div class="tokenBottom t2" id="tb22"></div>
	<div class="tokenBottom t3" id="tb32"></div>
	<div class="tokenBottom t4" id="tb42"></div>
	<div class="tokenBottom t1" id="tb13"></div>
	<div class="tokenBottom t2" id="tb23"></div>
	<div class="tokenBottom t3" id="tb33"></div>
	<div class="tokenBottom t4" id="tb43"></div>
</div>
<div class="choose-suspect" align="center">
	<button type="button" class="btn btn-success choose-suspect" id="chooseSuspect1">Suspect 1</button>
	<button type="button" class="btn btn-primary choose-suspect" id="removeSuspect1">Suspect 1</button>
	<button type="button" class="btn btn-success choose-suspect" id="chooseSuspect2">Suspect 2</button>
	<button type="button" class="btn btn-primary choose-suspect" id="removeSuspect2">Suspect 2</button>
	<button type="button" class="btn btn-success choose-suspect" id="chooseSuspect3">Suspect 3</button>
	<button type="button" class="btn btn-primary choose-suspect" id="removeSuspect3">Suspect 3</button>
</div>
<div class="well well-lg" style="display:none;" id="well">
<p class="text" id="well_text">King of Hattari</p>
</div>
</div>

<table class="table table-hover" id="rooms">
	<thead>
		<tr>
			<th style="width: 400px">Room ID</th>
			<th>Action</th>
			<th><button type="button" class="btn btn-primary action join" id="refreshRooms">Refresh</tr>
	</thead>
	<tbody id="tbody-rooms">
	</tbody>
</table>


{% endblock %}



{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='multigame.js') }}"></script>
{% endblock %}