{% extends "base.html" %}

{% block styles %}
{{ super() }}
<style>
body {
	background: #faf8ef;
	color: #776e65;
	font-family: Arial, sans-serif;
	font-style: bold;
}

H1 {
	margin-left: 100px;
}

iframe {
	position: absolute;
	margin-top: 30px;
	left: 0px;
	right: 0px;
	margin-left: auto;
	margin-right: auto;
}
</style>
{% endblock %}

{% block page_content %}
<div id="page_content">
	<H1>Rule</H1>
	<iframe width="800" height="500" src="https://www.youtube.com/embed/CbyMYCiQ79I" frameborder="0" allowfullscreen></iframe>
</div>
{% endblock %}